* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  background-image: url('../assets/fotos/TavoYeiko1.jpg');
  background-size: cover;
  
  /* background-color: rgb(167, 202, 202); */
  height: 80vh;
}

.container{
  background-color: rgb(151, 192, 192);
}

.card-title{
  text-align: center;
}

.card-text{
  text-align: center;
}

.row {
  padding-top: 15px;
  padding-bottom: 15px;

}


/* .card{
  
  border: solid, black, 10px;
} */

.main-quienes-somos {
  
  background-color: rgb(167, 202, 202);
  height: 90vh;
}

.botones{
  background-color: burlywood;
  padding: 10px;
  text-align: center;
}

.botones button input{
  border: solid, black, 20px;
}


/* .container{
background-color: lightsteelblue;
gap: 3px;
padding-top: 5.5px;
padding-bottom: 1.5px;
} */


.main-galeria {
    background-color: rgb(167, 202, 202);
    height: 90vh;
}

.main-contacto {
    background-color: rgb(167, 202, 202);
    height: 90vh;
}

.cardtext1 {
  background-color: rgb(167, 106, 106);
}

.footer {
  background-color: rgb(135, 160, 207);
}

.footer {
  background-image: linear-gradient(to bottom, #ebcdcd, #878484); }

.footer ul {
  display: flex;
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  justify-content: space-between; }

.footer li {
  padding: 5px;
  list-style: none; }

.footer a {
  color: white; }

.footer ul a:hover {
  color: black; }

.footer p {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center; }

.fa-whatsapp {
  font-size: 35px; }

.fa-twitter {
  font-size: 35px; }

.fa-instagram {
  font-size: 35px; }

.fa-square-facebook {
  font-size: 55px; }